@tailwind base;
@tailwind components;
@tailwind utilities;

.row{
    display: flex;
    flex-wrap: wrap;
}

@font-face {
    font-family: proza;
    src: url(../font/font/ProzaLibre-Regular.ttf);
  }

@font-face {
    font-family: rakkas;
    src: url(../font/font/Rakkas-Regular.ttf);
  }


  @layer base {
    .font-outline-1 {
      -webkit-text-stroke: 1px #fca877;
    }
    .font-outline-2 {
      -webkit-text-stroke: 2px rgb(247,201,175);
    }
  }
  

  /* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f5b997;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f5b997;
}